<html>
<head>
  <meta charset="utf-8">
  <title>radkummerkasten-tools</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css"/>
  <style>
.leaflet-popup-content {
  max-height: 250px;
  overflow: auto;
}
.leaflet-popup-content pre {
  font-size: 8px;
}
  </style>
  <script src="dist/index.js"></script>
  <script src="node_modules/leaflet/dist/leaflet.js"></script>
</head>
<body>

<h1><a href='#'>Radkummerkasten</a></h1>

<div id='pageOverview'>
<form id='form' onChange='return update()'>
  <select name='bezirk'>
    <option value='*'>* Bezirk *</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
    <option>17</option>
    <option>18</option>
    <option>19</option>
    <option>20</option>
    <option>21</option>
    <option>22</option>
    <option>23</option>
    <option value='0'>außerhalb Wien</option>
  </select>
  <select name='category'>
    <option value='*'>* Kategorie *</option>
    <option value='1'>Gefahrenstelle</option>
    <option value='2'>Lückenschluss</option>
    <option value='3'>Einbahn öffnen</option>
    <option value='4'>Radabstellanlage</option>
    <option value='5'>Zustand Oberfläche</option>
    <option value='6'>Bodenmarkierung</option>
    <option value='7'>Ampelschaltung</option>
    <option value='8'>Beschilderung</option>
    <option value='9'>Hindernisse</option>
    <option value='10'>Anderes</option>
  </select>
  <a href='javascript:openDownload()'>Download</a>
</form>

<form id='downloadOptions' onSubmit='return submitDownloadForm()'>
  <input name='includeDetails' type='checkbox'/>Lade Details für Einträge</input><br/>
  Dateityp: <select name='fileType'>
    <option value='csv'>CSV (Comma Separated Value, e.g. Excel)</option>
    <option value='geojson'>GeoJSON (GIS-Applications, e.g. qGIS)</option>
  </select><br/>
  <input type='submit' value='Generiere Download' />
  <span id='download'></span>
</form>

<hr/>

<div id='content'>
</div>
</div>

<div id='pageShow'>
</div>

<hr/>
Die <a href='https://github.com/plepe/radkummerkasten-tools'>radkummerkasten-tools</a> werden von Stephan Bösch-Plepelits entwickelt.
Diese sind Open Source und werden auf Github entwickelt. Kommentare, Bug
Reports und Erweiterungen sind herzlich willkommen.

<script type='text/template' id='teaserTemplate'>
<h3><a href='#{{ id }}'>#{{ id }} {{ categoryName }}: {{ title }} ({{ bezirk }}. Bezirk)</a></h3>
{% if attachments|length > 0 %}
<img src="{{ attachments[0].url }}">
{% endif %}

<p>
<i>{{ user }} schrieb am {{ date }}:</i><br/>
{% if text|length > 200 %}{{ text|slice(0, 200)|nl2br }}...{% else %}{{ text|nl2br }}{% endif %}<br/>

<p>
<a target="radkummerkasten" href="https://www.radkummerkasten.at/#marker-{{ id }}">Öffne im Radkummerkasten</a><br/>
{{ likes }} Unterstützung(en), {{ comments|length}} Kommentar(e)
</script>

<script type='text/template' id='showTemplate'>
<h2>#{{ id }} {{ categoryName }}: {{ title }} ({{ bezirk }}. Bezirk)</h2>
<div class='attachments'>
<div id='map'></div>
Koordinaten: {{ lat|number_format(5) }}, {{ lon|number_format(5) }}

{% for attachment in attachments %}
  <div class='image'>
    <img class='attachment' src="{{ attachment.url }}">
    Bereitgestellt von {{ user }} am {{ date }}
  </div>
{% endfor %}

{% for comment in comments %}
  {% for attachment in comment.attachments %}
    <div class='image'>
      <img class='attachment' src="{{ attachment.url }}"><br/>
      Bereitgestellt von {{ comment.user }} am {{ comment.date }}
    </div>
  {% endfor %}
{% endfor %}
</div>
<a target="radkummerkasten" href="https://www.radkummerkasten.at/#marker-{{ id }}">Öffne im Radkummerkasten</a><br/>

<p>
{{ likes }} Unterstützung(en)<br/>
{{ comments|length}} Kommentar(e)<br/>
Bezirk: {{ bezirk }}<br/>

<p>
<i>{{ user }} schrieb am {{ date }}:</i><br/>
{{ text|nl2br }}

{% for comment in comments %}
<p>
<i>{{ comment.user }} schrieb am {{ comment.date }}:</i><br/>
{{ comment.text|nl2br }}
{% endfor %}
</script>

</body>
</html>
