<html>
<head>
  <meta charset="utf-8">
  <title>radkummerkasten-tools</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css"/>
  <style>
.leaflet-popup-content {
  max-height: 250px;
  overflow: auto;
}
.leaflet-popup-content pre {
  font-size: 8px;
}
  </style>
  <script src="dist/index.js"></script>
  <script src="node_modules/leaflet/dist/leaflet.js"></script>
</head>
<body>

<h1><a href='#'>Radkummerkasten</a></h1>

<div id='pageOverview'>
<form id='form' onChange='return update(true)'>
  <select name='bezirk'>
    <option value='*'>* Bezirk *</option>
  </select>
  <select name='category'>
    <option value='*'>* Kategorie *</option>
  </select>
  <a href='javascript:openDownload()'>Download</a> |
  <a href='javascript:update(false)'>Reload</a>
</form>

<form id='downloadOptions' onSubmit='return submitDownloadForm(this)'>
  <input name='includeDetails' type='checkbox'/>Lade Details für Einträge</input><br/>
  Dateityp: <select name='fileType'>
    <option value='csv'>CSV (Comma Separated Value, e.g. Excel)</option>
    <option value='geojson'>GeoJSON (GIS-Applications, e.g. qGIS)</option>
  </select><br/>
  <input type='submit' value='Generiere Download' />
  <span id='download'></span>
</form>

<hr/>

<div id='content'>
</div>
</div>

<div id='pageShow'>
<a href='javascript:openShowDownload()'>Download</a>
<form id='showDownloadOptions' style='display: none;' onSubmit='return submitDownloadForm(this)'>
  <input type='hidden' name='filterId' value=''/>
  Dateityp: <select name='fileType'>
    <option value='csv'>CSV (Comma Separated Value, e.g. Excel)</option>
    <option value='geojson'>GeoJSON (GIS-Applications, e.g. qGIS)</option>
  </select><br/>
  <input type='submit' value='Generiere Download' />
  <span id='showDownload'></span>
</form>
<hr>
<div id='showContent'>
</div>
</div>

<hr/>
<p>
Diese Webseite ist nicht Teil des offiziellen <a href='http://www.radkummerkasten.at'>Radkummerkastens</a>, sondern verwendet nur die Daten aus diesem.</p>
<p>Die <a href='https://github.com/plepe/radkummerkasten-tools'>radkummerkasten-tools</a> werden von Stephan Bösch-Plepelits entwickelt.
Diese sind Open Source und werden auf Github entwickelt. Kommentare, Bug
Reports und Erweiterungen sind herzlich willkommen.</p>
<p>Version: <a target='_blank' id='version' href='https://github.com/plepe/radkummerkasten-tools/blob/master/CHANGELOG.md'></a></p>

<script type='text/template' id='teaserTemplate'>
<h3><a href='#{{ id }}'>#{{ id }} {{ categoryName }}: {{ title }} ({{ bezirk }}. Bezirk)</a></h3>
{% if attachments|length > 0 %}
<img src="{{ attachments[0].url }}">
{% endif %}

<p>
<i>{{ user }} schrieb am {{ date }}:</i><br/>
{% if text|length > 200 %}{{ text|slice(0, 200)|nl2br }}...{% else %}{{ text|nl2br }}{% endif %}<br/>

<p>
<a target="radkummerkasten" href="https://www.radkummerkasten.at/#marker-{{ id }}">Öffne im Radkummerkasten</a><br/>
{{ likes }} Unterstützung(en), {{ comments|length}} Kommentar(e)
{% if bezirkRkk and bezirk != bezirkRkk %}
<br/><span class='error'>
Fehler: Laut Radkummerkasten ist der Eintrag im Bezirk {{ bezirkRkk }}.
</span>
{% endif %}
{% for error in errors %}
<br/><span class='error'>Fehler: {{ error }}</span>
{% endfor %}
</p>
</script>

</body>
</html>
