body {
  background-image: url('img/logo-small.png');
  background-repeat: no-repeat;
  background-position: right top;
}
form#filterOverview > span.form_element_form_chooser {
  border: none;
}
.error {
  color: #7f0000;
}
div.loadMore {
  clear: both;
}
div.loadMore a {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #afafaf;
  text-align: center;
  text-decoration: none;
  color: black;
}
form#downloadOptions {
  display: none;
}

hr {
  clear: both;
}

h1, h2, h3, a {
  color: #004b67;
  text-decoration: none;
}
div#menuShow {
  display: none;
  clear: both;
}
div.template-show {
  display: none;
  clear: both;
}
div.template-show .attachments {
  float: right;
  width: 400px;
}
div.template-show .attachments img.attachment {
  margin-top: 1em;
  max-width: 100%;
  max-height: 100%;
  display: block;
}
div.template-show .attachments map {
  width: 400px;
  height: 200px;
  margin-top: 1em;
}
div.template-show .attachments map:first-of-type {
  margin-top: 0;
}
div.template-index div.entry img.attachment {
  max-width: 200px;
  max-height: 200px;
  float: right;
  margin-bottom: 0.5em;
}
div.template-index div.entry {
  clear: right;
}
div.template-index-map .attachments {
  display: block;
}
div.template-index-map .attachments img {
  display: inline-block;
  max-width: 200px;
  max-height: 150px;
}

img#logo {
  float: right;
}

ul.menu {
  padding-left: 0;
}
ul.menu > li {
  display: inline-block;
  list-style: none;
}
ul.menu > li:before {
  content: '| ';
}
ul.menu > li:first-of-type:before {
  content: '';
}

span.inlineForm {
  display: inline-block;
}

div#pageEditMap {
  height: 200px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0 2px;
  }

  div.template-show .attachments {
    float: none;
    width: auto;
  }

  div.template-show .attachments img.attachment {
    margin-top: 1em;
    max-width: 400px;
    max-height: 100%;
  }
}

@media screen and (max-width: 400px) {
  div.template-show .attachments img.attachment {
    max-width: 100%;
  }

  div.template-show .attachments div.map {
    max-width: 100%;
  }
}
