body {
  background-image: url('img/logo-small.png');
  background-repeat: no-repeat;
  background-position: right top;
}
form#filterOverview > span.form_element_form_chooser {
  border: none;
}
div.entry img {
  max-width: 200px;
  max-height: 200px;
  float: right;
  margin-bottom: 0.5em;
}
div.entry {
  clear: right;
}
.error {
  color: #7f0000;
}
div.loadMore {
  clear: both;
}
div.loadMore a {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #afafaf;
  text-align: center;
  text-decoration: none;
  color: black;
}
form#downloadOptions {
  display: none;
}

hr {
  clear: both;
}

h1, h2, h3, a {
  color: #004b67;
  text-decoration: none;
}
div#menuShow {
  display: none;
  clear: both;
}
div#pageShow {
  display: none;
  clear: both;
}
div#pageShow .attachments {
  float: right;
  width: 400px;
}
div#pageShow .attachments img.attachment {
  margin-top: 1em;
  max-width: 100%;
  max-height: 100%;
  display: block;
}
div#pageShow .attachments div.map {
  width: 400px;
  height: 300px;
}

img#logo {
  float: right;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0 2px;
  }

  div#pageShow .attachments {
    float: none;
    width: auto;
  }

  div#pageShow .attachments img.attachment {
    margin-top: 1em;
    max-width: 400px;
    max-height: 100%;
  }
}

@media screen and (max-width: 400px) {
  div#pageShow .attachments img.attachment {
    max-width: 100%;
  }

  div#pageShow .attachments div.map {
    max-width: 100%;
  }
}
