<h2>#{{ id }} {{ survey|parameter('survey').name }}: {{ address }} ({{ postcode }} {{ city }})</h2>
<div class='attachments'>
<div class='map' style='{{ map.style }}' id='{{ map.id }}'></div>
Koordinaten: {{ lat|number_format(5) }}, {{ lng|number_format(5) }}

{% for comment in comments %}
  {% for attachment in comment.attachments %}
    <div class='image'>
      <img class='attachment' src="{{ options.attachmentBaseUrl}}/{{ attachment.file }}"><br/>
      Bereitgestellt von {{ comment.firstname }} {{ comment.name }} am {{ comment.date }}
    </div>
  {% endfor %}
{% endfor %}
</div>
<a target="radkummerkasten" href="{{ options.baseUrl }}/#marker-{{ id }}">Öffne im Radkummerkasten</a> |
<a href="#{{ id }}/edit">Bearbeiten</a>
<br/>

<p>
Status: <span class='form-select' name='status' value="{{ status }}">{{ status|parameter('states').name }}</span><br/>
{{ likes }} Unterstützung(en)<br/>
{{ comments|length - 1 }} Kommentar(e)<br/>
Adresse: {{ street }} {{ housenumber }}<br/>
PLZ: {{ postcode }} {{ city }}
{% if postcodeCoordinate and postcode != postcodeCoordinate %}
<span class='error'>
(Möglicher Fehler: Koordinate liegt im Bereich {{ postcodeCoordinate }})
</span>
{% endif %}
<br/>

{% for error in errors %}
<span class='error'>Fehler: {{ error }}</span><br/>
{% endfor %}

{% for comment in comments %}
<p>
<i>{{ comment.firstname }} {{ comment.name }} schrieb am {{ comment.date }}:</i><br/>
{{ comment.message|nl2br }}
{% endfor %}
