<h2>#{{ entry.id }} {{ entry.survey|dbApiGet('survey').name }}: {{ entry.address }} ({{ entry.postcode }} {{ entry.city }})</h2>
<div class='attachments'>
<map style='width: 400px; height: 200px; float: right;' options='{"layer":"Basemap","zoom":17}'></map>
Koordinaten: {{ entry.lat|number_format(5) }}, {{ entry.lng|number_format(5) }}

{% for comment in entry.comments %}
  {% for attachment in comment.attachments %}
    <div class='image'>
      <img class='attachment' src="{{ options.attachmentBaseUrl}}/{{ attachment.file }}"><br/>
      Bereitgestellt von {{ comment.firstname }} {{ comment.lastname }} am {{ comment.date }}
    </div>
  {% endfor %}
{% endfor %}
</div>

<ul class='menu'>
  <li><a target="radkummerkasten" href="{{ options.baseUrl }}/#marker-{{ entry.id }}">Öffne im Radkummerkasten</a></li>
  <li><a href="#{{ entry.id }}/edit">Bearbeiten</a></li>
</ul>

<p>
Status: <span class='inlineForm' field='status' value="{{ entry.status }}">{{ entry.status|dbApiGet('states').name }}</span><br/>
{{ entry.likes }} Unterstützung(en)<br/>
{{ entry.comments|length - 1 }} Kommentar(e)<br/>
Adresse: {{ entry.street }} {{ entry.housenumber }}<br/>
PLZ: {{ entry.postcode }} {{ entry.city }}
{% if postcodeCoordinate and postcode != postcodeCoordinate %}
<span class='error'>
(Möglicher Fehler: Koordinate liegt im Bereich {{ entry.postcodeCoordinate }})
</span>
{% endif %}
<br/>

{% for error in entry.errors %}
<span class='error'>Fehler: {{ error }}</span><br/>
{% endfor %}

{% for comment in entry.comments %}
<p>
<i>{{ comment.firstname }} {{ comment.lastname }} schrieb am {{ comment.date }}:</i><br/>
{{ comment.message|nl2br }}
{% endfor %}
