<h3><a href='#{{ id }}'>#{{ id }} {{ categoryName }}: {{ address }} ({{ postcode}} {{ city }})</a></h3>
{% if attachments|length > 0 %}
<img src="{{ options.attachmentBaseUrl}}/{{ attachments[0].file }}">
{% endif %}

<p>
<i>{{ comments[0].firstname }} {{ comments[0].name }} schrieb am {{ date }}:</i><br/>
{% if comments[0].message|length > 200 %}{{ comments[0].message|slice(0, 200)|nl2br }}...{% else %}{{ comments[0].message|nl2br }}{% endif %}<br/>

<p>
<a target="radkummerkasten" href="{{ options.baseUrl }}/#marker-{{ id }}">Öffne im Radkummerkasten</a><br/>
{{ likes }} Unterstützung(en), {{ comments|length}} Kommentar(e)
{% if bezirkRkk and bezirk != bezirkRkk %}
<br/><span class='error'>
Fehler: Laut Radkummerkasten ist der Eintrag im Bezirk {{ bezirkRkk }}.
</span>
{% endif %}
{% for error in errors %}
<br/><span class='error'>Fehler: {{ error }}</span>
{% endfor %}
</p>
